body {background-color: #D6EAF8 ;
	font-family: Rokkitt  ;
	text-align: center;
	color: #0B132B;
	font-size:20px;
}

h1 {color: #275DAD;
	font-family: Pacifico;
font-weight: lighter;
letter-spacing: 5px;
font-size: 30px;
text-align: center;
}

h2 {color: #21618C;
font-size : 30px;
font-family:Abril Fatface, cursive;
font-weight:lighter;
}

a { text-decoration: none;
    color:#275DAD; 
    font-weight: bold;
}
a:hover {color:#21618C;}

img {
	width: 200px;
	height:200px;
}

p {
	margin-bottom: 35px
}

.card-pink{
	background: #F1DEDE;
    padding: 50px;
    margin: 50px auto;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 700px;

}

.container {
 width: 700px
 margin:40px auto;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #D6EAF8;
	padding: 15px 20px;
	border-radius:4px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.1);
}
.btn-blue:hover {
	background-color:#F1DEDE;
}

.list-inline {
	list-style:none;
	padding-left: 0px
}

.list-inline li{
	display: inline;
	padding:10px;
	margin:50px;
}

.list-inline i {
	font-size: 40px
	 }
.list-inline i:hover {
	color: #D6EAF8;
}

@media (max-width: 760px) {
	.container {
		width: 600px
	}

}

@media (max-width: 500px) {
	.container {
		width: 400px
	}
}
@media (max-width: 760px) {
	.card-pink {
		width: 600px
	}
}

@media (max-width: 400px) {
	.card-pink {
		width: 300px
	}